/* NavBar.css */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-bar button {
    color: white;
    background-color: #333;
    border: none;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .nav-bar button:hover {
    background-color: #575757;
  }
  

  @media (max-width: 768px) {
    .nav-bar {
      flex-direction: column; /* Stack the buttons vertically on small screens */
      align-items: flex-start; /* Align buttons to the left */
    }
  
    .nav-bar button {
      width: 100%; /* Make buttons span the entire width */
      text-align: left; /* Align text to the left */
      padding: 15px 30px; /* Adjust padding for better button size */
    }
  }